/* ESTRUTURA DA PÁGINA*/
body{
    border: 25px solid #f0d955;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #f0d955;
}

/* CONTEÚDO INTERNO*/
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-image: url("/static/WallpaperApp.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    overflow: hidden;
}  

#Titulo {
    /* Cor do quadrado */
    background-color: #f0d955;
    padding: 20px 40px;
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    text-shadow: 0px 0px 5px white;

    /* Estilo do título */
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 60px;
    margin-bottom: 95px;
    margin-top: 45px;
    text-align: center;
    color: rgb(23, 23, 23);
    -webkit-text-stroke: 1px white;
}

/* CONTAINER DOS BOTÕES */
.quadro{
    background-color: white;
    padding: 30px;
    border: 5px solid #f0d955;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 400px;
    height: 400px;
}

/* ESTILO DOS INPUTS */
.quadro input{
    width: 350px;
    height: 60px;
    border-radius: 15px;
    border: 3px solid #FFEB7B;
    padding-left: 20px;
    font-size: 20px;
    background-color: #fff7cf;
    box-shadow: 0 4px 10px rgba(23, 23, 23, 0.3);
    outline: none;
}

/* ESTILO DAS LETRAS DO INPUT */
.quadro h2{
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    color: rgb(23, 23, 23);
    margin-bottom: 10px;
    text-shadow:
    2px 2px 0 #FFEB7B,
   -2px 2px 0 #FFEB7B,
    2px -2px 0 #FFEB7B,
   -2px -2px 0 #FFEB7B; 
}

.entrar{
    background-color: #f0d955;
    border: 5px solid #ffffff;
    border-radius: 30px;
    color: rgb(23, 23, 23);
    font-family: "Stack Sans Text", sans-serif;
    font-size: 35px;
    padding: 10px 75px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow:
    2px 2px 0 #ffffff,
   -2px 2px 0 #ffffff,
    2px -2px 0 #ffffff,
   -2px -2px 0 #ffffff;
}
